@CHARSET "UTF-8";
#createForm1{position:absolute;top:100px;left:550px;} 
#createForm2{position:absolute;top:300px;left:510px;}
#loginForm1{position:absolute;top:100px;left:550px;} 
#loginForm2{position:absolute;top:300px;left:560px;}
#Menu1{position:absolute;top:100px;left:550px;}
#Menu2{position:absolute;top:300px;left:609px;} 