@CHARSET "UTF-8";

#createForm1 {
	position: absolute;
	top: 100px;
	left: 550px;
}

#tableCenter {
	margin: auto;
	align: center;
	top: 300px;
	left: 510px;
}

#loginForm1 {
	position: absolute;
	top: 100px;
	left: 550px;
}

#loginForm2 {
	position: absolute;
	top: 300px;
	left: 560px;
}

#Menu1 {
	position: absolute;
	top: 5px;
	left: 5px;
	margin: 0 auto;
}

#buttonu195 {
	align: center;
	margin: 7px auto;
	z-index: 11;
	width: 231px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 6px;
	/* margin-left: 470px;
	margin-top: 100px; */
	position: relative;
	z-index: 11;
}

#buttonu195:hover {
	background-color: #545454;
	width: 231px;
	/* 	margin-left: 470px;
	margin-top: 100px; */
	align: center;
	margin: 7px auto;
}

#buttonu195.ButtonSelected {
	background-color: #CACACA;
	width: 231px;
	min-height: 0px;
	/* margin: 17px 0px 0px 365px; */
	align: center;
	margin: 7px auto;
}

.u196-4 {
	z-index: 12;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: relative;
	/* margin-right: -10000px;
	margin-top: 8px;
	left: 56px; */
	align: center;
	margin: 7px auto;
}

#buttonu195:hover .u196-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	/* margin: 8px -10000px 0px 0px; */
	margin: 7px auto;
	align: center;
}

#buttonu195.ButtonSelected #u196-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	/* margin: 8px -10000px 0px 0px; */
	align: center;
	margin: 7px auto;
}

#buttonu195:hover #u196-4 p {
	color: #FFFFFF;
	visibility: inherit;
	margin: 7px auto;
	align: center;
}

#buttonu152 {
	z-index: 5;
	width: 231px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 7px;
	/* 	margin-left: 470px;
	margin-top: 10px; */
	position: relative;
	align: center;
	margin: auto;
}

#buttonu152:hover {
	background-color: #545454;
	width: 231px;
	/* 	margin-left: 470px;
	margin-top: 10px; */
	align: center;
	margin: auto;
}

#buttonu152.ButtonSelected {
	background-color: #CACACA;
	width: 231px;
	min-height: 0px;
	/* 	margin: 4px 0px 0px 365px; */
	align: center;
	margin: auto;
}

.u153-4 {
	z-index: 6;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: relative;
	/* margin-right: -10000px;
	margin-top: 7px;
	left: 56px; */
	align: center;
	margin: auto;
}

#buttonu152:hover .u153-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	/* 	margin: 7px -10000px 0px 0px; */
	align: center;
	margin: auto;
}

#buttonu152.ButtonSelected .u153-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	/* 	margin: 7px -10000px 0px 0px; */
	align: center;
	margin: auto;
}

#buttonu152:hover .u153-4 p {
	color: #FFFFFF;
	visibility: inherit;
	align: center;
	margin: auto;
}

#u199-4 {
	z-index: 25;
	text-align: center;
	margin: auto;
	font-size: 40px;
	font-family: 'codystar', sans-serif;
	color: #FFFFFF;
	background-color: transparent;
	line-height: 48px;
	font-weight: 400;
	/* min-height: 40px; */
	width: 311px;
	white-space: normal;

	/* top: 200px;
	position: absolute;
	margin-left: 478px;
	margin-top: 180px;
	position: relative; */
}

#u197-9 {
	z-index: 16;
	width: 781px;
	text-align: center;
	margin: auto;
	min-height: 76px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	/* margin-left: 250px;
	margin-top: 9px; */
	position: relative;
}

#u197-5, #u197-7 {
	text-align: center;
	margin: auto;
	font-size: 10px;
	line-height: 12px;
}

#u229 {
	z-index: 3;
	/* width: 920px; */
	background-color: transparent;
	background-size: cover;
	/* margin-left: 150px;
	margin-top: 2px; */
	position: relative;
	align: center;
	margin: 20px auto;
}